<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Welcome to my blog. Here's you'll find my writings on a variety of
        topics relating to technology.
      </p>
      <p>
        I'm a web developer with a passion for creating responsive and
        accessible user interfaces.
      </p>
      <p>
        I also specialise in Blochain technology, a revolutionary field of
        programming which will transform the way we interact with the internet.
      </p>
      <p>
        This Blog was created with an MVC approach, utilising HTML5, CSS3 and
        Vanilla JavaScript for the front-end. Node.js for the backend and the
        mongo db database to store the blog entries.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
